name: Deploy to Dreamhost

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.DREAMHOST_SSH_KEY }}
          known_hosts: ${{ secrets.DREAMHOST_KNOWN_HOSTS }}

      - name: Deploy with Rsync
        run: |
          rsync -avz --delete src/ ${{ secrets.DREAMHOST_USER }}@${{ secrets.DREAMHOST_HOST }}:/home/${{ secrets.DREAMHOST_USER }}/muffinpanrecipes.com/

